/*////////////////////////////////////////img-thumbnail//////////////////////////////////////////////////////////////////*/
.icones{
	padding: 4px;
	width: 90px;
	height: 90px;
	-webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.icones:hover{
	border-radius: 4px;
	border: 1px solid #aaa; /*ddd*/
	background-color: #ddd; /*eee*/
}
.icones-p{
	padding: 4px;
	width: 20px;
	height: 20px;
	-webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.icones-p:hover{
	border-radius: 4px;
	border: 1px solid #aaa; /*ddd*/
	background-color: #ddd; /*eee*/
}
.icones-m{
	padding: 4px;
	width: 35px;
	height: 35px;
	-webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.icones-m:hover{
	border-radius: 4px;
	border: 1px solid #aaa; /*ddd*/
	background-color: #ddd; /*eee*/
}
.icones-g{
	padding: 4px;
	width: 50px;
	height: 50px;
	-webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.icones-g:hover{
	border-radius: 4px;
	border: 1px solid #aaa; /*ddd*/
	background-color: #ddd; /*eee*/
}
.back{
	margin-left: 5px;
	width: 40px;
	height: 40px;
}
.back:hover{
	border-radius: 4px;
	border: 1px solid #000;
	background-color: #666;
}
.fundo_azul { 
	border-radius: 10px;
	position: relative; 
	background-color: rgba(178, 224, 255, 0.5);
}
.logout{
	width: 50px;
	height: 50px;
}
.logout:hover{
	border-radius: 4px;
	border: 1px solid #f00;
	background-color: #f99;
}
/*txt*/
.txt {
  /*display: block; */
  /*////////////////////////////width: 240px;  *****************------ALTERADO------**********************width: 100%;*/
  width: 95%;
  height: 31px;/*/////////////////////////// *****************------ALTERADO------***************height: 34px;*/
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.txt:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.txt::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.txt:-ms-input-placeholder {
  color: #999;
}
.txt::-webkit-input-placeholder {
  color: #999;
}
.txt[disabled],
.txt[readonly],
fieldset[disabled] .txt {
  background-color: #eee;
  opacity: 1;
}
.txt[disabled],
fieldset[disabled] .txt {
  cursor: not-allowed;
}
textarea.txt {
  height: auto;
}
#print{
	page-break-after: always;
}

.principal{
    margin: 1% 1% 1% 1%;
    
}

.fullWidth{
    width: 100%;
}
